@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #441aff;
  --background: #ffffff;
  --foreground: #363853;
  --error: #ff6262;
  --description: #a5a5a5;
  --image: #00ff00;
  --movie: #002bff;
  --voice: #800080;
  --text: #000000;
  --border: #dedede;
  --ring: #1e9a9a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
